/userdata
desktop.ini
ehthumbs.db
Icon?
Thumbs.db
*.py[co]
*.bak
*.tmp
*.wpr
*.project
*.cproject
*.tmproj
*.tmproject
*.sw?
.Spotlight-V100
.Trashes
.directory
.idea*
.DS_Store*

